body{
    font-family: verdana;
    background-color: #708494;
    margin: 0;
}
.navbar-top{
    background-color: #343f4b;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo{
    display: inline-block;
    width: 75px;
    height: 75px;
    background: url("../images/logo.png") no-repeat center;
    background-color: #222c38;
    float: left;
}
.logo:hover{
    background-image: url("../images/logo-press.png");
}
.nav-header{
    list-style-type: none;
    margin-left: 80px;
}
.nav-header li{
    display: inline-block;
    float: left;
    padding: 10px 0;
    text-align: center;
}
.nav-header li a{
    color: #99adb8;
    text-decoration: none;
    padding: 0 20px;
    border-right: solid 1px #3f4d5b;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.nav-header li:last-child a{
    border: none;
}
.nav-header li a:hover{
    text-decoration: none;
    color: #e5edf1;
}
.top-vrr{
    position: fixed;
    top: 75px;
    left: 75px;
    right: 0;
    background-color: rgba(52,63,75,0.5);
    height: 50px;
    text-align: center;
    z-index: 5;
}
.vrr-menu{
    text-align: center;
    display: inline-block;
    margin-top: 0;
}
.vrr-menu li{
    display: inline-block;
    float: left;
    padding: 10px 0;
    text-align: center;
}
.vrr-menu li a{
    color: #a8bec9;
    text-decoration: none;
    padding: 0 20px;
    border-right: solid 1px #95a7a7;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.vrr-menu li a:hover{
    text-decoration: none;
    color: #e5edf1;
}
.vrr-menu li:last-child a{
    border: none;
}
.navbar-left{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    width: 75px;
    background-color: #4771ba;

    z-index: 5;
}
.navbar-left ul{
    list-style-type: none;
    padding-left: 0;
    padding-top: 50px;
}
.navbar-left ul li{
    height: 25px;
    text-align: center;
    vertical-align: middle;
    margin-top: 70%;
}
.navbar-left ul li a{
    opacity: .8;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.navbar-left ul li a:hover{
    opacity: 1;
}
.avatar{
    display: block;
    margin-top: 50px;
    text-align: center;
}

.user{
    float: right;
    padding: 10px 20px;
}
.search{
    display: inline-block;
}
.search input{
    width: 25px;
    border-radius: 5px;
    padding: 5px 0;
    border: none;
    background: url("../images/search.png") no-repeat left;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.search input:focus{
    border-radius: 50px;
    padding: 5px 10px 5px 35px;
    background: url("../images/search.png") no-repeat left;
    background-color: #2f3843;
    border: none;
    color: #e5edf1;
    width: 150px;
    cursor: text;
}
.person{
    display: inline-block;
}
.person a{
   opacity: 0.5;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.person a:hover{
    opacity: 1;
}

#map_canvas{
    position: static !important;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#map_wrapper{
    height: 100%;
	width:100%;
	position:fixed;
}
.closed-cl{
    display: none !important;
}
.opened-cl{
    display: block !important;
}
.arrow-left {
    position: absolute;
    left: 69px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ddd;
    display: none;
}
.cl-menu li {
    position: relative;
}
.cl-menu li a{
    cursor: pointer;
}
.cl-menu li ul {
    position: absolute;
    top: -150%;
    left: 75px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display:none;
    padding: 10px;
    min-width: 200px;
    height: auto;
    background: #ddd;
}
.cl-menu li ul li{
    margin: 0;
    padding: 10px;
    height: auto;
}

.cl-menu li ul li {
    border-top:none;
    border-left:none;
    border-right:none;
}
